<%= form_with(model: presence, local: true) do |form| %>
  <% if presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
      <% presence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :presence_date %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.text_field :hours, id: :presence_hours %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, @options %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
